body {
  font-family: 'Nunito', sans-serif, bold;
  background-color: #0d383a;
}

h3 {
  border-bottom: black 2px dotted;
  padding-bottom: 27px;
  text-align: center;
}

.logo {
  transform: translateY(21px);
}

.timeLordTitle {
    padding: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: -webkit-xxx-large;
    border: white 14px dashed;
    background-color: #ef5246;
}

.dataHere {
  display: flex;
  align-items: baseline;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.item {
  background-color: #ef5246;
  padding: 13px 30px;
  border-radius: 33px;
  margin-left: 4px;
  border: white 14px dashed;
  width: 350px;
 font-size: x-large;
 /*height: 200px;*/
}

.item span {
    font-weight: 600;
}

/* BUTTON */

.btn {
  display: block;
  cursor: pointer;
  padding: 18px
}

.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 219.3931px;
  background-position: center;
  box-shadow: 0 0 20px rgba(235,57,49,0.55);
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 24.29px;
  box-shadow: 0 0 20px rgba(235,57,49,0.55);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 190.0000px;
  height: 109.69655114602891px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 190.0000px;
  height: 109.6966px;
  z-index: 2;
  background: inherit;
}


/* MEDIA QUERIES */

@media screen and (max-width: 695px) {
  .timeLordTitle span {
    display: none;
  }
}
