body {
  font-family: 'Nunito', sans-serif, bold;
  background-color: #0d383a;

}

.totals {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  /*padding: 15px;*/
}

.totals span {
  width: 30%;
}


.logo {
  transform: translateY(21px);
}

.dividers span {
  border-left: 1px dotted black;
}

.timeLordTitle {
    padding: 33px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: -webkit-xxx-large;
    border: white 14px dashed;
    background-color: #ef5246;
    box-shadow: 10px 10px 60px -25px;
}

.dataHere {
  display: flex;
  flex-direction: column;
  width: 95%;
  box-shadow: 52px 39px 80px 4px;
}


.item {
  display: flex;
  background-color: #ef5246;
  padding: 13px 30px;
  /*border-radius: 33px;*/
  /*border: white 14px dashed;*/
  width: 100%;
  font-size: medium;
  border-bottom: black 2px dotted;
  /*margin-top: 10px;*/
 /*height: 200px;*/
}

a.item {
  color: black;
  text-decoration: initial;
}

a.item:hover {
  background-color: #ef5246 !important;
  font-size: larger;
}

.header span {
  font-size: 1.3em;
  font-weight: 500;
}

.header .item {
  border: none;
  border-bottom: black 2px dotted;
  background-color: #ffffff !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer {
  width: 95%;

}

.footer .item {
  background-color: white !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: none;
}


.project {
  width: 100%;
  align-self: center;
}

.item:nth-child(odd) {background-color: #ffb1ab;}
/*.item {background-color: #ffb1ab;}*/

/*.item .column2 span {
    font-weight: 600;
}*/

/* BUTTON */

.btn {
  display: block;
  /*padding: 18px*/

}

.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 219.3931px;
  background-position: center;
  box-shadow: 0 0 20px rgba(235,57,49,0.55);
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 24.29px;
  box-shadow: 0 0 20px rgba(235,57,49,0.55);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 190.0000px;
  height: 109.69655114602891px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 190.0000px;
  height: 109.6966px;
  z-index: 2;
  background: inherit;
}


/* MEDIA QUERIES */

@media screen and (max-width: 695px) {
  .timeLordTitle span {
    display: none;
  }

  .header span {
    font-size: 13px;
  }
}
