body {
  font-family: 'Nunito', sans-serif, bold;
  /* font-family: 'ff-tisa-web-pro', sans-serif; */
  background-color: #0d383a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

th {padding-left: 20px; font-family: 'ff-tisa-web-pro', sans-serif !important;}

th.project-manager {width: 5%;}
th.project {width: 40% !important}
th.deadline--header { width: 15%;}
th.hoursLeft--header {width: 10%;}
th.totalHours--header {width: 10%;}
th.hoursEntered--header {width: 10%;}

td {background-color: #092b2b; padding-left: 20px; border-radius: 2px; font-size: 1.1rem}

#mega-container {
  display: none;
}

#tools {
  display: flex;
}


tr {
  -webkit-transition: background-color 0.5s ease-out;
  animation: fadeOutData 0.5s ease-out;
}

.adminButtons {
  margin-top: 0.4rem;
  display: flex;
}

.addRow-btn {
    width: 30px;
    height: 25px;
    background-color: #8d3487;
    border-radius: 5px;
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
    background-color: #ef5245 !important !important;
    -webkit-transition: background-color 0.1s ease;
    animation: fadeOutData 0.1s ease-in;
}

.addRow-btn span a {
  color: rgba(255, 255, 255, 0.86);
  text-decoration: none;
  background-color: #ef5245 !important !important;
  -webkit-transition: background-color 0.1s ease;
  animation: fadeInData 0.1s ease-in;
}

.addRow-btn:hover {
  background-color: #b657af;
  -webkit-transition: background-color 0.1s ease;
  animation: fadeInData 0.1s ease-in;
}


.minusRow-btn {
  width: 30px;
  height: 25px;
  background-color: black;
  border-radius: 5px;
  text-align: center;
  margin-left: 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease;
  animation: fadeOutData 0.1s ease-out;
}

.minusRow-btn span a {
  color: rgba(255, 255, 255, 0.86);
  text-decoration: none;
}

.minusRow-btn:hover {
  background-color: #312e2e;
  -webkit-transition: background-color 0.1s ease;
  animation: fadeInData 0.1s ease-in;
}

.refresh a {
    text-decoration: none;
    padding: 14px;
    background: #6db09d;
    color: white;
    border-radius: 13px;
    height: 5px;
    font-weight: 600;
    font-family: 'proxima-nova', serif;
    cursor: pointer;
    border: 1px #71c9b0 solid;
}

.refresh a:hover {
  color: #71C9B0;
  background-color: white;
}

.cancel {
    float: right;
    border: white 1px solid;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 8px;
    border-radius: 94px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
}

#key ul li {
  flex-direction: row;
  padding: 12px;
  list-style-type: none;
  margin-left: 4px;
}

#key ul {
  display: flex;
  transform: translateY(-25px);
}

.box {
display: inline-flex;
border: 1px solid;
width: 10px;
height: 10px;
border-radius: 8px;

}

.sortable {
  border-collapse: collapse;
  width: 105%;
}

.totals:not(th:first-child) {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  /*padding: 15px;*/
}

.hoursLeft, .hoursBudgeted, .deadline, .hoursEntered, .projectAssigned, .project {
  width: 30%;
  /* text-align: center; */
  /* border-left: 1px #b3b3b3 dotted; */
  padding-bottom: 6px;
  padding-top: 6px;
  margin: 0 5px;
  font-family: sans-serif;
}

.ms-deadline, .tasklists {
  margin: 0 5px;
  padding: 6px 0px 6px 12px;
  font-family: sans-serif;
}

.deadline .month, .deadline .year, .deadline .day {
  border-left: 0px;

}

.hoursBudgeted {width: 10%;}
.deadline {width: 15%; font-weight: 900;}
.projectAssigned {width: 5%;}
.hoursEntered {width: 10%;}
.hoursLeft {width: 10%; font-weight: 900; font-size: 28px}
.projName {width: 30%;}

.logo {
  transform: translateY(21px);
}

.timeLordTitle {
    padding: 33px;
    padding-top: 0px;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: -webkit-xxx-large;
    background-color: #ef5246;
    box-shadow: 22px 25px 49px -16px;
    font-family: 'proxima-nova', serif;
    float: right;
}

.dataHere {
  display: flex;
  flex-direction: column;
  width: 95.5%;

  animation: fadeInData 2s ease;
}


.item {
  display: flex;
  padding: 4px 0px;
  font-size: medium;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

tr.item {
  color: white;
  text-decoration: initial;
  background-color: #ef5245 !important !important;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.1s ease-in;
}


.project-container tr:hover td {
  background-color: #ef5246;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.1s ease-in;
  font-weight: 900
}

.header th {
  font-size: 0.8em;
  font-weight: 600;
  color: #eddddd;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .item {
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 20px;
}

.footer {
  width: 105%;
  background-color: white !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: none;
  border-top-color: black dotted 1px;
}

.project a {
    text-decoration: none;
    color: #FFF;
    padding: 7px;
    border-radius: 30px;
    background-color: #ef5245 !important !important;
    -webkit-transition: background-color 0.5s ease;
    animation: fadeOutData 0.5s ease-in;
    font-family: "proxima-nova"
}

.project a:hover {
    background-color: white;
    color: #ef5246;
}

.tasklists, .ms-deadline {
  width: 15%
}

.current-tasklist {
  margin: 0
}

.tasks-left {
  font-size: 12px;
  opacity: 0.65;
}

.project {
  padding: 10px 5px;
  text-align: left;
}

/* tbody tr:nth-child(odd) {background-color: #fafafa;} */

span.firstTag, span.secondTag {
    font-size: 10px;
    padding: 5px;
    border-radius: 11px;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: sans-serif;
}


  span.secondTag {
  border: solid 1px #937368;
  color: #937368;
  margin-left: 5px;
}

.contract {
  border: solid 1px #fc6660 !important;
  color: #fc6660 !important;
}

.billable {
    border: solid 1px #00c089 !important;
    color: #0b9970 !important;
}

secondTag:hover {
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

.byebye {
  display: none !important;
}

.makeRed {
  background-color: #b5302c !important;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

.makeGreen {
  background-color: #092b2b !important;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

.makeSquareGreen {
  background: #0d383a !important;
}

.makeOrange {
  background-color: #f2cc2f !important;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

.makeYellow {
  background-color: #F4E765 !important;
  color: #000;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

.makeBurntOrange {
  background-color: #ef5245 !important !important;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

.makeDarkRed {
  background-color: #092b2b !important;
  color: white;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}

.makeWhite {
  background-color: white !important;
  animation: fadeInData 0.5s ease-in;
}

.unColor {
  background-color: white !important;
  color: black !important;
  -webkit-transition: background-color 0.5s ease;
  animation: fadeInData 0.5s ease-in;
}



/* MEDIA QUERIES */


/*ANIMATIONS*/

@keyframes fadeInData {
  0% {
    opacity: 0;
  },
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutData {
  0% {
    opacity: 1;
  },
  100% {
    opacity: 0;
  }
}


/*MODAL STYLING*/

.fancybox-slide>* {
 overflow: hidden;
}

#hidden-content-d, #hidden-content-c {
  border-radius: 32px;
}

#hidden-content-d h2, h6, #hidden-content-c h2 {
  text-align: center;
}

#hidden-content-d .logo--small, #hidden-content-c .logo--small {
  margin-left: 43%;
  margin-top: 15px;
}


select.selector {
    width: 127px;
    float: right;
}

.selector.top {
  margin-top: 2%;
}

.idDisplay {
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.68);
}

.projInput {
    border-radius: 8px;
    width: 117px;
    height: 13px;
    float: right;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 2%;
}

form span:first-child {
    margin-left: 45px;
}

.fancybox-bg {
  background-color: #0d383a
}


.button-form-container {
  display: flex;
  width: 246px
}

.subBtn {
    display: block;
    width: 123px;
    height: 48px;
    background-color: #0d383a;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 23px;
    border-radius: 10px;
    font-family: 'ff-tisa-web-pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.closeBtn {

    display: block;
    width: 123px;
    height: 48px;
    background-color: #0d383a;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 23px;
    border-radius: 10px;
    font-family: 'ff-tisa-web-pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

